footer.footer__wrapper
    a.footer__content__tail__wrapper(href="/")
        p.footer__content__tail Contact Us
    .footer__content__wrapper
        .footer__content__inner__wrapper
            .footer__content__left__side
                a.footer__content__logo__btn(href="/" data-animation="paragraph") EVIL-STUDIO
                p.footer__content__logo__copyright(data-animation="paragraph") &copy;2022
            .footer__content__right__side
                ul.footer__link__list
                    li.footer__link__list__item
                        a.footer__link(href="/" data-animation="paragraph") Facebook
                    li.footer__link__list__item
                        a.footer__link(href="/" data-animation="paragraph") Instagram
                    li.footer__link__list__item
                        a.footer__link(href="/" data-animation="paragraph") Twitter
                    li.footer__link__list__item
                        a.footer__link(href="/" data-animation="paragraph") Linkdin
                    li.footer__link__list__item
                        a.footer__link(href="/" data-animation="paragraph") Behance
                ul.footer__list
                    li.footer__list__item
                        p.footer__list__paragraph(data-animation="paragraph") #15–7015 Tranmere Dr
                        p.footer__list__paragraph(data-animation="paragraph") Mississauga, ON L5S 1T7
                        p.footer__list__paragraph(data-animation="paragraph") +1 985 256 98 98

        .footer__content__cr
            p.footer__content__cr__text &copy;Copyright 2019-2026 Reserved by Evil-Studio
            p.footer__content__cr__text Design & Code by : #[a.footer__content__cr__link(href="https://github.com/MAGGIx1404" target="_blank") @Maggi]
