nav.navigation#navigation
   .container
      a.logo#logo(href="/") EVIL-STUDIO
      .nav__links
         .magnet
            a.nav__btn.active(href="/") Home
         .magnet
            a.nav__btn(href="/about") About
         .magnet
            a.nav__btn(href="/portfolio") Portfolio
         .magnet
            a.nav__btn(href="/contact") Contact
