.about {
  background-color: $color-gray;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: opacity 0.5s ease;
  will-change: opacity;

  &--active {
    opacity: 1;

    .about__banner {
      &__inner {
        h1 {
          .word {
            .char {
              transform: translateY(0) !important;
            }
          }
        }
      }
    }
  }

  canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
  }
}

.about__wrapper {
  position: absolute;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  overflow: hidden;
  will-change: transform;
}

.about__banner {
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  padding: 10vh 0;
  position: relative;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
  }

  &__inner {
    max-width: 90%;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1.about__banner__title {
      font-size: 10rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 1px;

      .word {
        overflow: hidden;
        .char {
          transition-delay: calc(0ms + var(--char-index) * 25ms) !important;
          transform: translateY(100%);
          transition: transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95),
            color 0.1s;
        }
      }
    }
  }
}

.about__us__wrapper {
  @extend %section;

  &__inner {
    @extend %innerSection;
    min-height: fit-content;
    max-width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    .about__us__content {
      width: 100%;
      max-width: 65%;

      p.about__us__paragraph {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 1px;
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 5rem;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: rgba($color: #ffffff, $alpha: 0.2);
          z-index: 1;
          transform-origin: left;
          transition: all 0.8s ease;
          transform: scaleX(0);
        }

        &.is-inview {
          &::after {
            transform: scaleX(1);
          }
        }

        li {
          flex: 0 0 50%;
          max-width: 50%;
          width: 100%;
          height: fit-content;
          padding: 4rem 0;

          h1 {
            font-size: 16rem;
            font-weight: 400;
            line-height: 1;
            color: $color-theme;
          }

          p {
            margin-top: 2rem;
          }
        }
      }
    }
  }
}

.about__screen {
  width: 100%;
  height: 100%;
  min-height: 125vh;
  max-height: fit-content;
  position: relative;
  overflow: hidden;

  &__wrapper {
    width: 100%;
    height: 100%;
    min-height: 125vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.about__service__wrapper {
  @extend %section;
  background: $color-black;

  &__inner {
    @extend %innerSection;
  }
}
