block variables
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="msapplication-TileColor" content="#fbf7ec")
        meta(name="theme-color" content="#fbf7ec")
        meta(property="og:type" content="website")
        base(href="/")

        link(href="main.css" rel="stylesheet")
    body
        include ./partials/preloader
        include ./partials/navigation

        .content#content(data-template=template)
            block body

        script(src="main.js")
