extends ../base.pug

block variables
    - var template = 'about'

block body
    .about(data-background="" data-color="")
        canvas.webgl-container
        //- Scroll wrapper
        .about__wrapper
            .about__banner
                h1 hee
