extends ../base.pug

block variables
    - var template = 'home'

block body
    .home(data-background="" data-color="")
        canvas.webgl-container
        //- Scroll wrapper
        .home__wrapper
            .home__banner
                .home__banner__inner
                    h1.home__title.splitter Hello,
                    h1.home__title.splitter we are an
                    h1.home__title.splitter independent
                    h1.home__title.splitter
                        a.home__title__link(href="/") creative agency
                    h1.home__title.splitter
                        a.home__title__link(href="/") in the Istanbul
                    h1.home__title.splitter who connect
                    h1.home__title.splitter
                        a.home__title__link(href="/") brands with
                    h1.home__title.splitter
                        a.home__title__link(href="/") their audiences
                    h1.home__title.splitter using design,
                    h1.home__title.splitter
                        a.home__title__link(href="/") technology
                    h1.home__title.splitter and insights.

            .home__screen
                figure.home__inner__screen
                    img.home__screen__img.parallax__image(data-src="/home_screen.jpg", alt="Home Screen Picture")

            .home__screen__content
                .home__screen__content__inner
                    p.home__screen__content__paragraph(data-animation="paragraph") Something incredible is waiting to be known hydrogen atoms billions upon billions birth Tunguska event Sea of Tranquility? A still more glorious dawn awaits invent the universe at the edge of forever bits of moving fluff preserve and cherish that pale blue dot another world.
                    //- lists
                    .lists__wrapper(data-scroll data-scroll-offset="50%")
                        //- LIST ONE
                        ul.service__list
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") Product strategy
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") UX and UI design
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") Front-end development
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") Back-end development
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") QA
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") Support
                        //- LIST TWO
                        ul.service__list
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") Strategy
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") Brand identity design
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") Creative web design
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") Graphic design and CGI
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") Content development
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") Creative front-end
                        //- LIST THREE
                        ul.service__list
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") Back-end development
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") Mobile Development
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") Photograpy
                            li.service__list__item
                                p.service__list__item__content(data-animation="paragraph") Video Production
                    //- link
                    .magnet.home__screen__link__wrapper
                        a.home__screen__content__link.splitter(href="/about") See All Service ->

            .home__work__wrapper
                .home__work__inner__wrapper
                    .home__work__title__wrapper
                        h1.home__work__title(data-animation="paragraph") Recent Works
                    //- works
                    .home__work__list
                        .home__work__inner__list
                            //- work box
                            .home__work__box
                                figure.home__work__pic__wrapper
                                    img.home__work__pic.parallax__image(data-src="/cases/1.jpg", alt="work image")
                                a.home__work__title.splitter(href="/work/spirits_of_illusion") Spirit of illusion
                            //- work box
                            .home__work__box
                                figure.home__work__pic__wrapper
                                    img.home__work__pic.parallax__image(data-src="/cases/2.jpg", alt="work image")
                                a.home__work__title.splitter(href="/work/the_secrets") The Secrets
                            //- work box
                            .home__work__box
                                figure.home__work__pic__wrapper
                                    img.home__work__pic.parallax__image(data-src="/cases/3.webp", alt="work image")
                                a.home__work__title.splitter(href="/work/emerald_planet") Emerald Planet
                            //- work box
                            .home__work__box
                                figure.home__work__pic__wrapper
                                    img.home__work__pic.parallax__image(data-src="/cases/5.jpg", alt="work image")
                                a.home__work__title.splitter(href="/work/rainbows") Rainbows
                            //- work box
                            .home__work__box
                                figure.home__work__pic__wrapper
                                    img.home__work__pic.parallax__image(data-src="/cases/4.jpg", alt="work image")
                                a.home__work__title.splitter(href="/work/the_silks") The Silks
                            //- work box
                            .home__work__box
                                figure.home__work__pic__wrapper
                                    img.home__work__pic.parallax__image(data-src="/cases/6.jpg", alt="work image")
                                a.home__work__title.splitter(href="/work/olivia_arnold") Olivia Arnold

                            .magnet.home__work__link__wrapper
                                a.home__work__link.splitter(href="/portfolio") See All Projects ->

            .home__partner__wrapper
                .home__partner__inner__wrapper
                    .home__partner__title__wrapper
                        h1.home__partner__title(data-animation="paragraph") Trustful Partners.
                    .home__partner__content__wrapper
                        p.home__partner__paragraph(data-animation="paragraph") Brain is the seed of intelligence a still more glorious dawn awaits the ash of stellar alchemy two ghostly white figures in coveralls and helmets are softly dancing not a sunrise but a galaxyrise bits of moving fluff. Culture citizens of distant epochs the only home we've ever  known with pretty stories for which there's little good evidence descended from astronomers take root and flourish.
                .home__partner__lists
                    .home__partner__list(data-scroll data-scroll-speed="4" data-scroll-direction="horizontal")
                        figure.home__partner__box
                            img.home__partner__img(data-src="/clients/1.webp", alt="error")
                        figure.home__partner__box
                            img.home__partner__img(data-src="/clients/2.webp", alt="error")
                        figure.home__partner__box
                            img.home__partner__img(data-src="/clients/3.webp", alt="error")
                        figure.home__partner__box
                            img.home__partner__img(data-src="/clients/4.webp", alt="error")
                        figure.home__partner__box
                            img.home__partner__img(data-src="/clients/5.webp", alt="error")
                    .home__partner__list(data-scroll data-scroll-speed="-4" data-scroll-direction="horizontal")
                        figure.home__partner__box
                            img.home__partner__img(data-src="/clients/5.webp", alt="error")
                        figure.home__partner__box
                            img.home__partner__img(data-src="/clients/6.webp", alt="error")
                        figure.home__partner__box
                            img.home__partner__img(data-src="/clients/7.webp", alt="error")
                        figure.home__partner__box
                            img.home__partner__img(data-src="/clients/8.webp", alt="error")
                        figure.home__partner__box
                            img.home__partner__img(data-src="/clients/1.webp", alt="error")
            .home__pride
                .home__pride__wrapper
                    .home__pride__content
                        .home__pride__title__wrapper
                            h1.home__pride__title(data-animation="paragraph") Source #[br] of #[br] pride.
                        .home__pride__paragraph__wrapper
                            p.home__pride__paragraph(data-animation="paragraph") A mote of dust suspended in a sunbeam ship of the imagination kindling the energy hidden in matter Cambrian explosion star stuff harvesting star light Tunguska event. From which we spring the only home we've ever known vanquish the impossible encyclopaedia galactica rich in heavy atoms globular star cluster.
                    ul.home__pride__list
                        li.home__pride__list__item(data-scroll data-scroll-offset="50%")
                            p.home__pride__list__item__content(data-animation="paragraph") Site Of the Day
                            p.home__pride__list__item__content(data-animation="paragraph") Awwwards
                            p.home__pride__list__item__content(data-animation="paragraph") x28
                        li.home__pride__list__item(data-scroll data-scroll-offset="50%")
                            p.home__pride__list__item__content(data-animation="paragraph") Site Of the Month
                            p.home__pride__list__item__content(data-animation="paragraph") Awwwards
                            p.home__pride__list__item__content(data-animation="paragraph") x13
                        li.home__pride__list__item(data-scroll data-scroll-offset="50%")
                            p.home__pride__list__item__content(data-animation="paragraph") Site Of the Year
                            p.home__pride__list__item__content(data-animation="paragraph") Awwwards
                            p.home__pride__list__item__content(data-animation="paragraph") x4
                        li.home__pride__list__item(data-scroll data-scroll-offset="50%")
                            p.home__pride__list__item__content(data-animation="paragraph") UX Design Of the Month
                            p.home__pride__list__item__content(data-animation="paragraph") CSSDA
                            p.home__pride__list__item__content(data-animation="paragraph") x6
                        li.home__pride__list__item(data-scroll data-scroll-offset="50%")
                            p.home__pride__list__item__content(data-animation="paragraph") Studio Of the Year
                            p.home__pride__list__item__content(data-animation="paragraph") CSSDA
                            p.home__pride__list__item__content(data-animation="paragraph") x2
                        li.home__pride__list__item(data-scroll data-scroll-offset="50%")
                            p.home__pride__list__item__content(data-animation="paragraph") Agency Of the Year
                            p.home__pride__list__item__content(data-animation="paragraph") Golden Apple
                            p.home__pride__list__item__content(data-animation="paragraph") x1
                        li.home__pride__list__item(data-scroll data-scroll-offset="50%")
                            p.home__pride__list__item__content(data-animation="paragraph") Website Of the Day
                            p.home__pride__list__item__content(data-animation="paragraph") Cyristal Studios
                            p.home__pride__list__item__content(data-animation="paragraph") x9

            include ../partials/footer
