extends ../base.pug

block variables
    - var template = 'portfolio'

block body
    .portfolio(data-background="" data-color="")
        canvas.webgl-container
                img(data-src="/1.jpg", alt="")
        //- Scroll wrapper
        .portfolio__wrapper
            .portfolio__banner
                .portfolio__menu
                    ul.portfolio__menu__wrapper
                        li.portfolio__menu__item
                            a.portfolio__menu__item__link.splitter(href="/works/spirits_of_illusion") Spirits of Illusion
                            figure.portfolio__menu__item__image__wrapper
                                img.portfolio__menu__item__image(data-src="/cases/1.jpg", alt="error")
                        li.portfolio__menu__item
                            a.portfolio__menu__item__link.splitter(href="/works/the_secrets") The Secrets
                            figure.portfolio__menu__item__image__wrapper
                                img.portfolio__menu__item__image(data-src="/cases/2.jpg", alt="error")
                        li.portfolio__menu__item
                            a.portfolio__menu__item__link.splitter(href="/works/emerald_planet") Emerald Planet
                            figure.portfolio__menu__item__image__wrapper
                                img.portfolio__menu__item__image(data-src="/cases/3.webp", alt="error")
                        li.portfolio__menu__item
                            a.portfolio__menu__item__link.splitter(href="/works/rainbows") Rainbows
                            figure.portfolio__menu__item__image__wrapper
                                img.portfolio__menu__item__image(data-src="/cases/5.jpg", alt="error")
                        li.portfolio__menu__item
                            a.portfolio__menu__item__link.splitter(href="/works/the_silks") The Silks
                            figure.portfolio__menu__item__image__wrapper
                                img.portfolio__menu__item__image(data-src="/cases/4.jpg", alt="error")
                        li.portfolio__menu__item
                            a.portfolio__menu__item__link.splitter(href="/works/olivia_arnold") Olivia Arnold
                            figure.portfolio__menu__item__image__wrapper
                                img.portfolio__menu__item__image(data-src="/cases/6.jpg", alt="error")
                        li.portfolio__menu__item
                            a.portfolio__menu__item__link.splitter(href="/works/shiny_diamond") Shiny Diamond
                            figure.portfolio__menu__item__image__wrapper
                                img.portfolio__menu__item__image(data-src="/cases/7.jpg", alt="error")
                        li.portfolio__menu__item
                            a.portfolio__menu__item__link.splitter(href="/works/pierre") Pierre
                            figure.portfolio__menu__item__image__wrapper
                                img.portfolio__menu__item__image(data-src="/cases/8.jpg", alt="error")
