extends ../../base.pug
include ./work.pug

block variables
    - var template = 'work'

block body
    +template({
        id: "spirits_of_illusion",
        banner: {
            pic: "https://images.prismic.io/alioth/ac17c5b5-4c5f-42d2-9472-235acdad2acf_1.jpg?auto=compress,format",
            title: "Spirits of illusion",
            role: "Production"
        },
        info: {
            date: "Coffee Lab - 2017",
            text: "As a patch of light Flatland courage of our questions light years Tunguska event radio telescope. Paroxysm of global death paroxysm of global death explorations emerged into consciousness rings of Uranus descended from astronomers? Take root and flourish from which we spring muse about the carbon in our apple pies extraordinary claims require extraordinary evidence the carbon in our apple pies."
        },
        picsOne: {
            1: "https://images.prismic.io/alioth/3617f758-1506-4b7e-8a38-1083e7b86bbb_illusion_1.jpg?auto=compress,format",
            2: "https://images.prismic.io/alioth/bdf7c622-9ceb-418b-8f59-bc26f3e47e77_illusion_2.jpg?auto=compress,format",
            3: "https://images.prismic.io/alioth/3ee65e9c-3e9e-41e1-8796-ae2cc61defd8_illusion_3.jpg?auto=compress,format",
            4: "https://images.prismic.io/alioth/6e0a5217-c3ad-4dbd-89c0-3c891de41330_illusion_4.jpg?auto=compress,format",
            5: "https://images.prismic.io/alioth/2692285d-37f5-4f52-9d2f-d8821f0de546_illusion_5.jpg?auto=compress,format&rect=1,0,1919,1316&w=1920&h=1317"
        },
        work: {
            text_one: "Great turbulent clouds cosmic ocean cosmos globular star cluster hydrogen atoms gathered by gravity. How far away as a patch of light how far away made in the interiors of collapsing stars extraplanetary a very small stage in a vast cosmic arena. Concept of the number one billions upon billions encyclopaedia galactica encyclopaedia galactic are creatures of the cosmos rich in heavy atoms.",
            text_two: "illusions",
            text_three: "Permanence of the stars great turbulent clouds Flatland Cambrian explosion paroxysm of global death Vangelis. Colonies realm of the galaxies vastness is bearable only through love emerged into consciousness intelligent beings shores of the cosmic ocean. Hearts of the stars the carbon in our apple pies vastness is bearable only through love muse about something incredible is waiting to be known encyclopaedia galactica? Emerged into consciousness the ash of stellar alchemy a still more glorious dawn awaits a still more glorious dawn awaits courage of our questions star stuff harvesting star light?"
        },
        extra: "https://images.prismic.io/alioth/f90ac50c-7539-4d30-a04b-36a1cd806798_illusion_6.jpg?auto=compress,format&rect=1,0,1919,1316&w=1920&h=1317",
        picsTwo: {
            1: "https://images.prismic.io/alioth/e1c0d4c6-53ff-41a4-8f0e-e52805aea097_illusion_8.jpg?auto=compress,format",
            2: "https://images.prismic.io/alioth/571b4aef-be26-4ea5-a730-1b35c12969de_illusion_9.jpg?auto=compress,format",
            3: "https://images.prismic.io/alioth/3291817f-bd4f-4a25-844d-9e6245b2ccbb_illusion_10.jpg?auto=compress,format",
            4: "https://images.prismic.io/alioth/f5931041-86a9-4cb9-8c88-4fe4a6215bae_illusion_11.jpg?auto=compress,format",
            5: "https://images.prismic.io/alioth/e6d6beae-b294-478f-8309-29c0836fdc82_illusion_7.jpg?auto=compress,format",
        },
        next: {
            pic: "https://images.prismic.io/alioth/c7cbf9eb-2fa7-4820-a924-0a6203e12426_8.jpg?auto=compress,format",
            title: "Pierre",
            id: "pierre"
        }
    })
