extends ../../base.pug
include ./work.pug

block variables
    - var template = 'work'

block body
    +template({
        id: "the_secrets",
        banner: {
            pic: "https://images.prismic.io/alioth/50624eb8-7e3e-4975-bc7b-91c926f96795_2.jpg?auto=compress,format",
            title: "The Secrets",
            role: "Art Direction",
        },
        info: {
            date: "Route NY - 2019",
            text: "Made in the interiors of collapsing stars muse about encyclopaedia galactica emerged into consciousness ship of the imagination as a patch of light. From which we spring hearts of the stars the only home we've ever known concept of the number one vastness is bearable only through love rings of Uranus? Great turbulent clouds not a sunrise."
        },
        picsOne: {
            1: "https://images.prismic.io/alioth/3d419701-0bc0-4d62-882b-487379e7f4d0_secret_1.jpg?auto=compress,format",
            2: "https://images.prismic.io/alioth/afc57af0-75ef-46d0-924f-5c597311bb90_secret_2.jpg?auto=compress,format",
            3: "https://images.prismic.io/alioth/481d14d4-0179-49e5-9926-07c5a1ab6fb9_secret_3.jpg?auto=compress,format",
            4: "https://images.prismic.io/alioth/7cde891e-378c-4ea5-9b48-7d6e92e888d8_secret_4.jpg?auto=compress,format"
        },
        work: {
            text_one: "Great turbulent clouds cosmic ocean cosmos globular star cluster hydrogen atoms gathered by gravity. How far away as a patch of light how far away made in the interiors of collapsing stars extraplanetary a very small stage in a vast cosmic arena. Concept of the number one billions upon billions encyclopaedia galactica encyclopaedia galactic are creatures of the cosmos rich in heavy atoms.",
            text_two: "Secrets",
            text_three: "Encyclopaedia galactica cosmic fugue corpus callosum the ash of stellar alchemy tingling of the spine explorations. Euclid white dwarf the sky calls to us hydrogen atoms emerged into consciousness extraordinary claims require extraordinary evidence? Paroxysm of global death citizens of distant epochs Sea of Tranquility a very small stage in a vast cosmic arena emerged into consciousness a still more glorious dawn awaits."
        },
        extra: "https://images.prismic.io/alioth/757452f5-745d-4260-8328-cb14d581ea4e_secret_5.jpg?auto=compress,format",
        picsTwo: {
            1: "https://images.prismic.io/alioth/56fb8056-eecd-4af1-9e06-e3727293dfe2_secret_6.jpg?auto=compress,format",
            2: "https://images.prismic.io/alioth/dde33549-9579-49fd-966f-b955cd0defb3_secret_7.jpg?auto=compress,format",
        },
        next: {
            pic: "https://images.prismic.io/alioth/ac17c5b5-4c5f-42d2-9472-235acdad2acf_1.jpg?auto=compress,format",
            title: "Spirits of illusion",
            id: "spirits_of_illusion"
        }
    })
