.home {
  background-color: $color-gray;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: opacity 0.3s ease;
  will-change: opacity;

  &--active {
    opacity: 1;

    .home__title {
      .word {
        .char {
          transform: translateY(0%);
        }
      }
    }
  }

  canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
  }
}

.home__wrapper {
  position: absolute;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  overflow: hidden;
  will-change: transform;
}

.home__banner {
  width: 100%;
  min-height: 150vh;
  padding: 10vh 0;
}

.home__banner__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 5%;
}

.home__title {
  width: 70%;
  font-size: 20rem;
  font-weight: 500;
  line-height: 1;
  font-family: $font-b;

  .word {
    overflow: hidden;
    .char {
      transition-delay: calc(0ms + var(--char-index) * 25ms) !important;
      transform: translateY(100%);
      transition: transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        color 0.1s;
    }
  }

  a {
    font-family: $font-b;
    color: $color-light;
    width: 100%;

    &:hover {
      color: $color-theme;
    }
  }
}

.home__screen {
  overflow: hidden;
  max-height: 125vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: flex-end;

  figure.home__inner__screen {
    position: relative;
    min-height: 125vh;
    max-height: fit-content;
    width: 80vw;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

.home__screen__content {
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;

  .home__screen__content__inner {
    max-width: 80%;
    width: 100%;
    height: 100vh;
    padding: 10vh 0;

    p.home__screen__content__paragraph {
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.4;
    }

    .lists__wrapper {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 10vh 5vw 10vh 0;
      position: relative;

      &.is-inview {
        &::after {
          transform: scale(1);
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 7.5rem;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: rgba($color: #ffffff, $alpha: 0.2);
        z-index: 2;
        pointer-events: none;
        transition: transform 0.8s ease;
        will-change: transform;
        transform-origin: left;
        transform: scaleX(0);
      }

      ul.service__list {
        margin-top: 4rem;

        li.service__list__item {
          p.service__list__item__content {
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.5;
          }
        }
      }
    }
  }
}

.home__screen__link__wrapper {
  display: inline-block;

  &.magnet {
    padding: 2rem 0 !important;
  }

  a.home__screen__content__link {
    font-size: 1.75rem;
    font-weight: 400;
    padding: 2rem 2.5rem;
    border-radius: 30px;
    background: $color-black;

    .word {
      .char {
        transition-delay: calc(0ms + var(--char-index) * 25ms);
      }
    }

    &:hover {
      .word {
        .char {
          color: $color-theme;
        }
      }
    }
  }
}

.home__work__wrapper {
  @extend %section;

  .home__work__inner__wrapper {
    @extend %innerSection;

    .home__work__title__wrapper {
      width: 100%;
      height: fit-content;
      overflow: hidden;
      text-align: left;

      h1.home__work__title {
        font-size: 10rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 1px;
      }
    }

    .home__work__list {
      width: 100%;
      height: fit-content;
      margin-top: 5rem;

      .home__work__inner__list {
        width: 100%;
        height: fit-content;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .home__work__box {
          flex: 0 0 100%;
          max-width: 100%;
          width: 100%;
          height: fit-content;
          overflow: hidden;
          position: relative;
          margin: 4rem 0;

          figure.home__work__pic__wrapper {
            position: relative;
            width: 100%;
            height: 100vh;
            overflow: hidden;

            img {
              object-fit: cover;
              position: absolute;
              width: 100%;
              height: 150%;
            }
          }

          a.home__work__title {
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translate(-10%, -50%);
            width: fit-content;
            height: fit-content;
            font-size: 10rem;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 1;
            font-family: $font-b;
            mix-blend-mode: difference;

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 20px;
              background-color: #0f0f0f;
              z-index: -1;
              pointer-events: none;
              transform: scaleX(0);
              transform-origin: right;
              transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
            }

            .word {
              .char {
                transition-delay: calc(0ms + var(--char-index) * 25ms);
              }
            }

            &:hover {
              &:hover {
                &::after {
                  transform-origin: left;
                  transform: scaleX(1);
                }
              }
              .word {
                .char {
                  color: $color-theme;
                }
              }
            }
          }
        }

        .home__work__link__wrapper {
          display: inline;
          margin: 2rem;

          &.magnet {
            padding: 2rem 0 !important;
          }

          a.home__work__link {
            font-size: 1.75rem;
            font-weight: 400;
            padding: 2rem 2.5rem;
            border-radius: 30px;
            background: $color-black;

            .word {
              .char {
                transition-delay: calc(0ms + var(--char-index) * 25ms);
              }
            }

            &:hover {
              .word {
                .char {
                  color: $color-theme;
                }
              }
            }
          }
        }
      }
    }
  }
}

.home__partner__wrapper {
  @extend %section;

  .home__partner__inner__wrapper {
    @extend %innerSection;
    height: fit-content !important;
    min-height: fit-content !important;

    .home__partner__title__wrapper {
      width: 100%;
      height: fit-content;
      overflow: hidden;

      h1.home__partner__title {
        font-size: 10rem;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1;
      }
    }

    .home__partner__content__wrapper {
      margin-top: 5rem;

      p.home__partner__paragraph {
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.6;
      }
    }
  }
}

.home__partner__lists {
  width: 100%;
  height: fit-content;
  padding: 10vh 0;

  .home__partner__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform-origin: center;
    will-change: transform;

    figure {
      img {
        pointer-events: none;
        transition: background 0.5s ease;
      }
      &:hover {
        img {
          background: rgba($color: $color-theme, $alpha: 0.25);
        }
      }
    }
  }
}

.home__pride {
  @extend %section;
  background: $color-black;

  .home__pride__wrapper {
    @extend %innerSection;
    padding: 15vh 0 !important;

    .home__pride__content {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .home__pride__title__wrapper {
        flex: 0 0 45%;
        max-width: 45%;
        width: 100%;
        height: fit-content;

        h1 {
          font-size: 10rem;
          font-weight: 400;
          letter-spacing: 1px;
          line-height: 1;
        }
      }

      .home__pride__paragraph__wrapper {
        flex: 0 0 55%;
        max-width: 55%;
        width: 100%;
        height: fit-content;

        p {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.6;
          color: $color-light;
        }
      }
    }

    ul.home__pride__list {
      margin-top: 10rem;
      width: 100%;
      height: fit-content;

      li.home__pride__list__item {
        width: 100%;
        height: fit-content;
        overflow: hidden;
        padding: 3rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &::after {
          content: "";
          width: 100%;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: rgba($color: #ffffff, $alpha: 0.25);
          transform: scaleX(0);
          transform-origin: left;
          transition: all 0.7s ease;
          z-index: 2;
          pointer-events: none;
        }

        &.is-inview {
          &::after {
            transform: scaleX(1);
          }
        }

        .home__pride__list__item__content {
          font-size: 3rem;
          font-weight: 400;
          letter-spacing: 1px;
          line-height: 1;
          flex: 0 0 30%;
          max-width: 30%;
          width: 100%;

          &:nth-of-type(2) {
            font-family: $font-b !important;
            text-align: center;
          }

          &:nth-of-type(3) {
            font-size: 8rem;
            text-align: end;
          }
        }
      }
    }
  }
}
